<!DOCTYPE html>
<html>
<head>
  <title>用語解説</title>
</head>
<body>
  <table class= "table table-striped">
  <thead>
    <h1>用語解説</h1>
      <th>投手成績用語</th>
      <tr>      
        <th><a href="#glossary0">防御率</a></th>
        <th><a href="#glossary1">登板</a></th>
        <th><a href="#glossary2">先発</a></th>
        <th><a href="#glossary3">完投</a></th>
        <th><a href="#glossary4">完封</a></th>
        <th><a href="#glossary5">QS</a></th>
        <th><a href="#glossary6">勝利</a></th>
        <th><a href="#glossary7">敗戦</a></th>
        <th><a href="#glossary8">ホールド</a></th>
        <th><a href="#glossary9">ホールドポイント</a></th>
        <th><a href="#glossary10">セーブ</a></th>
        <th><a href="#glossary11">勝率</a></th>
        <th><a href="#glossary12">投球回</a></th>
        <th><a href="#glossary13">被安打</a></th>
        <th><a href="#glossary14">被本塁打</a></th>
        <th><a href="#glossary15">奪三振</a></th>
        <th><a href="#glossary16">奪三振率</a></th>
        <th><a href="#glossary17">与四球</a></th>
        <th><a href="#glossary18">与死球</a></th>
        <th><a href="#glossary19">暴投</a></th>
        <th><a href="#glossary20">ボーク</a></th>
        <th><a href="#glossary21">失点</a></th>
        <th><a href="#glossary22">自責点</a></th>
        <th><a href="#glossary23">被打率</a></th>
        <th><a href="#glossary24">K/BB</a></th>
        <th><a href="#glossary25">WHIP</a></th>
        <th><a href="#glossary26">RSAA</a></th>
        <th><a href="#glossary27">FIP</a></th>
      </tr>
      <th>打者成績用語</th>
      <tr>
        <th><a id="glossary0" href="#glossary28">打率</a></th>
        <th><a href="#glossary29">試合</a></th>
        <th><a href="#glossary30">打席</a></th>
        <th><a href="#glossary31">打数</a></th>
        <th><a href="#glossary32">安打</a></th>
        <th><a href="#glossary33">二塁打</a></th>
        <th><a href="#glossary34">三塁打</a></th>
        <th><a href="#glossary35">本塁打</a></th>
        <th><a href="#glossary36">塁打</a></th>
        <th><a href="#glossary37">打点</a></th>
        <th><a href="#glossary38">得点</a></th>
        <th><a href="#glossary39">三振</a></th>
        <th><a href="#glossary40">四球</a></th>
        <th><a href="#glossary41">死球</a></th>
        <th><a href="#glossary42">犠打</a></th>
        <th><a href="#glossary43">犠飛</a></th>
        <th><a href="#glossary44">盗塁</a></th>
        <th><a href="#glossary45">盗塁死</a></th>
        <th><a href="#glossary46">併殺打</a></th>
        <th><a href="#glossary47">出塁率</a></th>
        <th><a href="#glossary48">長打率</a></th>
        <th><a href="#glossary49">ＯＰＳ</a></th>
        <th><a href="#glossary50">ｗＯＢＡ</a></th>
        <th><a href="#glossary51">ｗＲＡＡ</a></th>
        <th><a href="#glossary52">ｗＲＣ</a></th>
        <th><a href="#glossary53">ＩｓｏＤ</a></th>
        <th><a href="#glossary54">ＲＣ２７</a></th>
      </tr>
  </thead>
  </table>

  <h4 id="glossary1">防御率</h4>
  <h5>9イニング当たりその投手が何点取られるか、という指標のこと。
  <a href="#glossary23">自責点</a>×9/<a href="#glossary13">投球回</a>で求められる。
  2019年の山本投手は1.95という素晴らしい記録で防御率のタイトルを獲得した。</h5>

  <h4 id="glossary2">登板</h4>
  <h5>その投手が試合に出た数のこと。</h5>

  <h4 id="glossary3">先発</h4>
  <h5>その投手が試合開始時に登板していた数のこと。</h5>

  <h4 id="glossary4">完投</h4>
  <h5><a href="#glossary3">先発</a>投手が一人でその試合を投げきること。</h5>

  <h4 id="glossary5">完封</h4>
  <h5>初回ノーアウトから試合が終わるまで無失点でかつ勝利投手となった数のこと。</h5>

  <h4 id="glossary6">QS</h4>
  <h5>先発投手が6回以上投げ、自責点が3点以内に抑えた数のこと。</h5>

  <h4 id="glossary7">勝利</h4>
  <h5>投手成績における「勝利」とは自軍のチームが勝ち越したときに登板していた数のこと。
  ※詳しく説明するとめちゃくちゃ長くなるのでもっと知りたい人は「投手　勝利」でググってね</h5>

  <h4 id="glossary8">敗戦</h4>
  <h5>投手成績における「敗戦」とは勝利とは逆に決勝点（負け越しそのまま試合に負けた時の点）を与えた数のこと。</h5>

  <h4 id="glossary9">ホールド</h4>
  <h5>僅差リード時に救援登板（先発じゃない登板）し同点、逆転されずに次の投手につないだ数のこと。
  また、同点時に救援登板し、同点のまま次の投手につないだ数も含まれる。</h5>

  <h4 id="glossary10">ホールドポイント</h4>
  <h5><a href="#glossary9">ホールド</a>と救援勝利（先発じゃない時に記録された勝利数）を足した数のこと。</h5>

  <h4 id="glossary11">セーブ</h4>
  <h5>僅差リード時に救援登板（先発じゃない登板）し試合が終了した数のこと。</h5>

  <h4 id="glossary12">勝率</h4>
  <h5>その投手が勝つ確率のこと。（そのままか笑）
  勝利/(勝利＋敗戦）
  で導き出される。
  ※勝利/登板数ではない。</h5>

  <h4 id="glossary13">投球回</h4>
  <h5>投手が獲得したアウトの数のこと。
  3アウトで1イニングなので通常は
  150回2/3 などのように回数とアウト数で表記される。 </h5>

  <h4 id="glossary14">被安打</h4>
  <h5>投手が打たれた安打（ヒット）の数のこと。 </h5>

  <h4 id="glossary15">被本塁打</h4>
  <h5>投手が打たれた本塁打（ホームラン）の数のこと。 </h5>

  <h4 id="glossary16">奪三振</h4>
  <h5>投手が打者から三振を奪った数のこと。 </h5>

  <h4 id="glossary17">奪三振率</h4>
  <h5>投手が9イニングを投げる間に平均していくつの三振を奪っているかの値。
  <a href="#glossary16">奪三振</a>×9÷投球回
  で求められる。
  2019年の千賀投手は11.33という驚異的な数値を記録しプロ野球記録を更新した。</h5>

  <h4 id="glossary18">与四球</h4>
  <h5>与えた四球（フォアボール）の数のこと。 </h5>

  <h4 id="glossary19">与死球</h4>
  <h5>与えた死球（デッドボール）の数のこと。</h5>

  <h4 id="glossary20">暴投</h4>
  <h5>投手が捕手が取れないようなところに投げた数のこと。
  ワイルドピッチともいう。</h5>

  <h4 id="glossary21">ボーク</h4>
  <h5>投手の反則行為のこと。
  ボークが審判により宣告された場合、
  走者がいる場合は1個の進塁権（要は一つ先の塁にすすめるよーってこと）が与えられ、
  走者がいない場合はボールが一つ追加される。</h5>

  <h4 id="glossary22">失点</h4>
  <h5>投手が取られた点のこと。</h5>

  <h4 id="glossary23">自責点</h4>
  <h5>投手の責任により取られた点のこと。
  具体的にはエラー等で<a href="#glossary22">失点</a>した場合は自責点にならない。</h5>

  <h4 id="glossary24">被打率</h4>
  <h5>投手がどのくらいヒットを打たれるかの割合のこと。
  被安打÷打数　で求められる。
  2019年の有原投手は.191と12球団ナンバーワンの成績だった。</h5>

  <h4 id="glossary25">Ｋ／ＢＢ</h4>
  <h5>K(<a href="#glossary16">奪三振</a>）をBB（<a href="#glossary18">与四球</a>）で割った値のこと。
  当たり前だが奪三振が多くても与四球が多いと低くなる。
  「制球がよく、確実にアウトを取れる」
  投手かを見極められる指標。</h5>

  <h4 id="glossary26">ＷＨＩＰ</h4>
  <h5>1イニング当たりどれだけのランナーを出しているかを示す指標。
  （<a href="#glossary14">被安打</a>＋<a href="#glossary19">与四球</a>）÷　<a href="#glossary13">投球回</a>　で求められる。</h5>

  <h4 id="glossary27">ＲＳＡＡ</h4>
  <h5>リーグの平均的な投手に比べどれだけ失点を防いだか、を示す指標。
  (リーグ平均失点率-失点率)×<a href="#glossary13">投球回</a>÷9
  投球回が加味されるので多少失点率が悪くとも投球回が多ければ高い指標が出ることもある。</h5>

  <h4 id="glossary28">ＦＩＰ</h4>
  <h5>
    投手自身がコントロールできない運の要素を排除して計算された指標。<a href="#glossary1">防御率</a>と相関性があり、FIPの方が防御率に比べ著しく大きな値を記録していた場合来季以降成績が下降する可能性が高い。
    </h5>

    <h5>
    {13×<a href="#glossary15">被本塁打</a>+3×（<a href="#glossary18">与四球</a>+（<a href="#glossary19">与死球</a>-敬遠）-2×<a href="#glossary16">奪三振</a>}÷<a href="#glossary13">投球回</a>+リーグごとの補正値
    <br>
  補正値：リーグ全体の<a href="#glossary1">防御率</a>-{13×被本塁打+3×（与四球+与死球-敬遠）-2×奪三振}÷防御率
  </h5>


  <h4 id="glossary29">打率</h4>
  <h5>1打数当たりのヒットを打つ確率。打撃成功率。</h5>

  <h4 id="glossary30">試合</h4>
  <h5>その選手の出場試合数のこと。</h5>

  <h4 id="glossary31">打席</h4>
  <h5>打者が打席に入った数のこと。</h5>

  <h4 id="glossary32">打数</h4>
  <h5>打者が打った数のこと。四死球や犠打も含んで数えられる打席数と違い、こちらはそれらの数が換算されない。</h5>

  <h4 id="glossary33">安打</h4>
  <h5>打者が打ったヒット（安打）数のこと。</h5>

  <h4 id="glossary34">二塁打</h4>
  <h5>打者が打った二塁打数のこと。</h5>

  <h4 id="glossary35">三塁打</h4>
  <h5>打者が打った三塁打数のこと。</h5>

  <h4 id="glossary36">本塁打</h4>
  <h5>打者が打った本塁打数のこと。</h5>

  <h4 id="glossary37">塁打</h4>
  <h5>打者が打ったヒットでどれだけの塁へ進んだか、という指標。　塁打数=単打数×1+二塁打数×2+三塁打数×3+本塁打数×4　で求められる。</h5>

  <h4 id="glossary38">打点</h4>
  <h5>打者が打ったことにより入った得点数のこと。</h5>

  <h4 id="glossary39">得点</h4>
  <h5>その選手がホームベースを踏んだ数のこと。</h5>

  <h4 id="glossary40">三振</h4>
  <h5>打席内で3回ストライク宣告されたことによりアウトになった数のこと。</h5>  

  <h4 id="glossary41">四球</h4>
  <h5>その打席内でボールが4回宣告され、出塁した数のこと。</h5>

  <h4 id="glossary42">死球</h4>
  <h5>打席内で投球が体に当たったことにより出塁した数のこと。</h5>

  <h4 id="glossary43">犠打</h4>
  <h5>打者がアウトになる代わりにバントで走者を進めた数のこと。</h5>

  <h4 id="glossary44">犠飛</h4>
  <h5>打者が打ったフライを守備側が補給した後に走者が本塁へ進塁し得点した数のこと。</h5>

  <h4 id="glossary45">盗塁</h4>
  <h5>走者が投球の隙をつき進塁した数のこと。</h5>

  <h4 id="glossary46">盗塁死</h4>
  <h5>盗塁を試みたが失敗しアウトとなった数のこと。</h5>

  <h4 id="glossary47">併殺打</h4>
  <h5>打者が打ったゴロからフォースプレイによりアウトが複数取られた数のこと。</h5>  

  <h4 id="glossary48">出塁率</h4>
  <h5>打者が出塁する確率を算出した指標のこと。</h5>  

  <h4 id="glossary49">長打率</h4>
  <h5>1打席当たり何塁打を打つか、といった指標のこと。</h5> 

  <h4 id="glossary50">ＯＰＳ</h4>
  <h5>打者を評価する指標のひとつ。出塁率　＋　長打率　で算出される。</h5>

  <h4 id="glossary51">ｗＯＢＡ</h4>
  <h5>長打力や出塁能力を考慮した現代の野球統計学における打者の基本的な指標のこと。ＯＰＳに比べ、得点の相関度が高いことが特徴。</h5> 

  <h4 id="glossary52">ｗＲＡＡ</h4>
  <h5>平均的な能力を持った選手と比較し、どれだけ得点を増やしたか、減らしたかを示す指標のこと。ｗＲＣと比べると平均との比較なのでこちらは数値がマイナスになることもある。 </h5> 

  <h4 id="glossary53">ｗＲＣ</h4>
  <h5>平均的な能力を持った選手と比較し、どれだけ得点を増やしたか、減らしたかを示す指標のこと。 ｗＲＡＡと比べ積み上げの指標であり打者は数値はプラスにしかならない</h5>

  <h4 id="glossary54">ＩｓｏＤ</h4>
  <h5>出塁率から打率を差し引いた値のこと。</h5>

  <h4 id="glossary55">ＲＣ２７</h4>
  <h5>その打者だけで27個のアウトを取られるまで（1試合終わるまで）打った場合獲得できるであろう得点を算出した指標。</h5>
   

</body>
</html> 
