 <!DOCTYPE html>
<html>
<head>
<title>セ・リーグ打者成績</title>
</head>
<body>
  <table class= "table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>規定打席以上</th>
      <th>打率</th>
      <th>試合</th>
      <th>打席</th>
      <th>打数</th>
      <th>安打</th>
      <th>二塁打</th>
      <th>三塁打</th>
      <th>本塁打</th>
      <th>塁打</th>
      <th>打点</th>
      <th>得点</th>
      <th>三振</th>
      <th>四球</th>
      <th>死球</th>
      <th>犠打</th>
      <th>犠飛</th>
      <th>盗塁</th>
      <th>盗塁死</th>
      <th>併殺打</th>
      <th>出塁率</th>
      <th>長打率</th>
      <th>ＯＰＳ</th>
      <th>ｗＯＢＡ</th>
      <th>ｗＲＡＡ</th>
      <th>ｗＲＣ</th>
      <th>ＩｓｏＤ</th>
      <th>ＲＣ２７</th>
    </tr>
</thead>
<tbody>
  <tr>
      <td>1</td>
      <td>鈴木 誠也（広）</td>
      <td>.335</td>
      <td>140</td>
      <td>612</td>
      <td>499</td>
      <td>167</td>
      <td>31</td>
      <td>0</td>
      <td>28</td>
      <td>282</td>
      <td>87</td>
      <td>112</td>
      <td>81</td>
      <td>103</td>
      <td>7</td>
      <td>0</td>
      <td>3</td>
      <td>25</td>
      <td>16</td>
      <td>3</td>
      <td>.453</td>
      <td>.565</td>
      <td>1.018</td>
      <td>ｗＯＢＡ</td>
      <td>ｗＲＡＡ</td>
      <td>ｗＲＣ</td>
      <td>ＩｓｏＤ</td>
      <td>ＲＣ２７</td>
    </tr>
  </tbody>
</table>
</body>
</html> 
