<!DOCTYPE html>
<html>
<head>
<title>セ・リーグ投手成績</title>
</head>
<body>
  <table class= "table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>規定投球回以上</th>
      <th>防御率</th>
      <th>登板</th>
      <th>先発</th>
      <th>完投</th>
      <th>完封</th>
      <th>QS</th>
      <th>勝利</th>
      <th>敗戦</th>
      <th>ホールド</th>
      <th>ホールドポイント</th>
      <th>セーブ</th>
      <th>勝率</th>
      <th>投球回</th>
      <th>被安打</th>
      <th>被本塁打</th>
      <th>雑三振</th>
      <th>奪三振率</th>
      <th>与四球</th>
      <th>与死球</th>
      <th>暴投</th>
      <th>ボーク</th>
      <th>失点</th>
      <th>自責点</th>
      <th>被打率</th>
      <th>K/BB</th>
      <th>WHIP</th>
      <th>RSAA</th>
      <th>FIP</th>
    </tr>
</thead>
<tbody>
    <tr>
      <td>1</td>
      <td>大野雄大（中）</td>
      <td>2.58</td>
      <td>25</td>
      <td>25</td>
      <td>2</td>
      <td>2</td>
      <td>18</td>
      <td>9</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>.529</td>
      <td>177.2</td>
      <td>132</td>
      <td>18</td>
      <td>156</td>
      <td>7.90</td>
      <td>43</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>52</td>
      <td>51</td>
      <td>.206</td>
      <td>3.63</td>
      <td>0.98</td>
      <td>RSAA</td>
      <td>FIP</td>
    </tr>

  </tbody>
</table>
</body>
</html>